.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .caret-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
 
  .dropdown-content.show {
    display: block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    top: calc(95% ); 
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    left: auto;
    text-align: center;
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

.dropdownlink{

}
.dropdownlink.nav-link-content{
  margin: 10px !important;
  width: 180px !important;
    height: 45px !important;   
  
}