h1{
  text-align: center;
}

.todo{
margin-top: 100px;
margin-left: 50px;
font-size:large;
font-weight:bold;}

.todo_element{
  display: flex;
 justify-content: space-between;
 margin-bottom: 8px;
}

button{
  margin: 10px;
}