.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.title{
  font-size: 20px;
  font-weight: bold;
}
.icon{
  width: 30px;

}
.app{
  display: flex;
}
.menu {
  list-style-type: none;
  overflow: hidden;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111;
}

/* Dropdown styles */
.menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu li:hover .dropdown-content {
  display: block;
}

.menu .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu .dropdown-content a:hover {
  background-color: #f1f1f1;
}
.fa-light-fa-caret-up-fa-rotate-180-fa-2xs{
  color: black;
}